select,
input {
    text-align-last: center;
}

label,
p {
    margin: 0;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000000;
    font-style: bold;
    .astrix {
        color: #ff0000;
    }
}

.input {
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
}

.submitButton {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    cursor: pointer;
}